* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1f3c88;
}

nav .logo {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* HOME */
.home {
    text-align: center;
    padding: 80px 20px;
    background: #e8ecf5;
}

.home span {
    color: #1f3c88;
}

/* SECTIONS */
section {
    padding: 50px 40px;
}

h2 {
    color: #1f3c88;
    margin-bottom: 15px;
}

/* SERVICES */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #1f3c88;
    color: white;
}


